@model Study

@{
    ViewData["Title"] = "Index";
}

<h1>Specialization</h1>

<table class="table">
    <thead>
        <tr>
            <th>Specialization</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var study in (IEnumerable<Study>)ViewBag.Studies)
        {
            <tr>
                <td>@study.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@study.IdStudy">Edit</a> |
                    <a asp-action="Details" asp-route-id="@study.IdStudy">Details</a> |
                    <a asp-action="Delete" asp-route-id="@study.IdStudy">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>