@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Deans office</h2>
        <p>
            You can manipulate with students, departments,
            courses and instructors data.
        </p>
    </div>
</div>
