@model Subject

@{
    ViewData["Title"] = "Index";
}

<h1>Subjects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in (IEnumerable<Subject>)ViewBag.Subjects)
        {
            <tr>
                <td>@subject.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@subject.IdSubject">Edit</a> |
                    <a asp-action="Details" asp-route-id="@subject.IdSubject">Details</a> |
                    <a asp-action="Delete" asp-route-id="@subject.IdSubject">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>