@page
@model RazorPagesMovie.Pages.Genres.DetailsModel

@{
    ViewData["Title"] = "Genre Details";
}

<div>
    <h4>Genre</h4>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre.GenreTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre.GenreTitle)
            </dd>
        </dl>
    </div>
</div>

<hr />

<h5>Movies</h5>

<form method="post">
    <select asp-for="SelectedMovieId" asp-items="Model.MoviesSL" size="@Model.Movies.Count">
    </select>
    <br />
    <button class="btn btn-outline-info mt-2"
            type="submit">
        Navigate
    </button>
</form>


@*asp-page="../Movies/Details" asp-route-id="@Model?.SelectedMovie?.ID"*@

<div class="mt-lg-5">
    <a class="btn btn-warning"
       asp-page="./Edit" asp-route-id="@Model.Genre.GenreId">Edit</a> |
    <a class="btn btn-primary"
       asp-page="./Index">Back to List</a>
</div>

