/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Provide sufficient contrast against white background */

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.budget-container {
    position: absolute;
    right: 55px;
    border: 3px solid #b0bec5;
}

#totalInc {
    background: #00e676;
}

#totalExp {
    background: #ff3d00;
}

a.inc:link {
    background-color: none;
    color: green;
}

a.inc:visited {
    background-color: green;
}

a.inc:hover {
    background-color: lightgreen;
}

a.exp:active {
    background-color: hotpink;
}

a.exp:link {
    background-color: none;
    color: red;
}

a.exp:visited {
    background-color: red;
}

a.exp:hover {
    background-color: lightcoral;
}

a.exp:active {
    background-color: hotpink;
} 